<nav class="navbar navbar-inverse navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a [routerLink]="['/home']">{{title}}</a>
                </span>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/home']" [routerLinkActive]="['is-active']">Home</a></li>
                <li>
                    <a [routerLink]="['/register']" [routerLinkActive]="['is-active']">Register</a></li>
                <li><a [routerLink]="['/login']" [routerLinkActive]="['is-active']">Login</a></li>
                <li><a [routerLink]="['/logout']" [routerLinkActive]="['is-active']">Log Out</a></li>
            </ul>
        </div>
    </div>
</nav>