body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  padding-top: 80px;
  /******  Pre-Loading Animation CSS *******/
}
body .spinner {
  width: 80px;
  height: 80px;
  background-color: #333;
  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
body .loading {
  background-color: #d35400;
}
body .font-bold {
  font-weight: bold;
}
.app-wrapper {
  margin-left: 0px !important;
}
.is-active {
  color: #fff !important;
}
.no-padding {
  padding: 0px;
}
.jumbotron h2 {
  font-size: 20px;
  font-weight: bold;
}
.jumbotron hr {
  margin-top: 10px;
}
form .form-group {
  margin-bottom: 20px !important;
}
.list-div {
  padding-left: 48px;
  padding-right: 48px;
}
.list-div .table div.ng2-smart-title {
  color: #337ab7;
}
.list-div table.ng2-smart-table th,
.list-div table.ng2-smart-table td {
  font-size: 14px;
}
.list-div table.ng2-smart-table th {
  border-top: 1px solid #ddd !important;
}
.list-div table.ng2-smart-table tr.ng2-smart-filters {
  display: none;
}
.list-div table.ng2-smart-table a:hover,
.list-div table.ng2-smart-table a:visited,
.list-div table.ng2-smart-table a:active {
  color: #337ab7 !important;
}
.procure-top-jumbotron .table {
  color: #fff;
}
.procure-top-jumbotron .table div.ng2-smart-title {
  color: #337ab7;
}
.register-top-jumbotron .row,
.procure-top-jumbotron .row {
  margin-right: 0px;
  margin-left: 0px;
}
.dropdown-btn {
  width: 100% !important;
  text-align: left !important;
}
ul.dropdown-menu {
  width: 100% !important;
}
.mydp {
  margin-top: -1px !important;
  border-radius: 4px !important;
}
.mydp .selectiongroup .selection {
  color: #555 !important;
  font-size: 14px !important;
  text-align: left;
  padding: 6px 12px;
}
