.register-top-jumbotron {
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    .row {
        padding-top: 20px;
        background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%) !important;
        color: #fff;
    }
    form {
        .register-btn-div{
            padding-left: 15px;
        }
    }
}