<div class="jumbotron register-top-jumbotron">
  <app-pageheader [header]="title"></app-pageheader>
  <div class="row jumbotron">
    <form novalidate [formGroup]='rForm' (submit)="registerMaterial(rForm.value)">
      <!---->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label>Material Name:</label>
          <input class="form-control" type="text" placeholder="Enter material name" formControlName="mName">
        </div>
        <div class="form-group">
          <label>Model Number:</label>
          <input class="form-control" type="text" placeholder="Enter model number" formControlName="mNumber">
        </div>
        <div class="form-group">
          <label>Date of Production:</label>
          <!--<input class="form-control" type="text" placeholder="Select date" formControlName="productionDate">-->
          <!--<datepicker [(ngModel)]="productionDate" [maxDate]="maxDate" [showWeeks]="false"  [ngModelOptions]="{standalone: true}"></datepicker>-->
          <my-date-picker [options]="myDatePickerOptions"
                [(ngModel)]="productionDate" required [ngModelOptions]="{standalone: true}"></my-date-picker>
        </div>
      </div>
      <!---->
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="form-group">
          <label>Weight (kg):</label>
          <input class="form-control" type="text" placeholder="Enter material weight" formControlName="mWeight">
        </div>
        <div class="form-group">
          <label>Quantity (numbers):</label>
          <input class="form-control" type="text" placeholder="Enter total quantity" formControlName="mQuantity">
        </div>
        <div class="form-group">
          <label>Image/Video (jpg,png,mp4):</label>
          <app-fileupload></app-fileupload>
        </div>
      </div>
      <!---->
      <div class="form-group register-btn-div">
        <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Register Material</button>
      </div>
    </form>
  </div>
</div>
<!---->
<div class="list-div jumbotron register-bottom-jumbotron">
  <app-pageheader [header]="subTitle"></app-pageheader>
  <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
</div>
