.register-top-jumbotron,
.register-bottom-jumbotron {
  background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
}
.register-top-jumbotron .row,
.register-bottom-jumbotron .row {
  padding-top: 20px;
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%) !important;
  color: #fff;
}
.register-top-jumbotron form .register-btn-div,
.register-bottom-jumbotron form .register-btn-div {
  padding-left: 15px;
}
.register-bottom-jumbotron {
  padding-top: 0px !important;
}
