<div class="oneFifth">
		<div class="userPanel" [ngClass]=">
			<div class="userLogo">
				<img src="http://api.randomuser.me/portraits/med/men/70.jpg" class="width50p">
			</div>
			<div class="userName">
				<span class="userNameSpan show">User name</span>
				<i class="fa fa-power-off logout"></i>
			</div>
			<div class="userMenu">
				<ul>
					<li><a href="" class="zoom"><i class="fa fa-users Icon"></i><span class="show">User Panel</span></a></li>
					<li><a href="" class="zoom"><i class="fa fa-bar-chart Icon"></i><span class="show">Statistics</span></a></li>
					<li><a href="" class="zoom"><i class="fa fa-comments Icon"></i><span class="show">Comments</span></a></li>
					<li><a href="" class="zoom"><i class="fa fa-cloud-download Icon"></i><span class="show">Downloads</span></a></li>
					<li><a href="" class="zoom"><i class="fa fa-cog Icon"></i><span class="show">Settings</span></a></li>
					<li><a href="" class="zoom"><i class="fa fa-trash Icon"></i><span class="show">Trash</span></a></li>
				</ul>
			</div>
		</div>
		<div class="panelToggle">
			<span>
				<i class="fa fa-arrow-left zoom"></i>
			</span>
		</div>
	</div>
	<div class="fourFifth">
		<div class="userContent">
		</div>
	</div>