.register-jumbotron {
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  color: #fff;
}
.register-jumbotron .row {
  padding-top: 20px;
}
.register-jumbotron .qr-code-div {
  text-align: center;
  padding-top: 15%;
}
.register-jumbotron .padding-bottom-4px {
  padding-bottom: 4px !important;
}
