<div class="jumbotron register-jumbotron">
  <h2>{{title}}</h2>
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form novalidate [formGroup]='rForm' (submit)="doRegistration(rForm.value)">
        <!--<div class="form-group">
                    <label>First Name:</label>
                    <input class="form-control" type="text" placeholder="Enter first name" formControlName="firstName">
                </div>
                <div class="form-group">
                    <label>Last Name</label>
                    <input class="form-control" type="text" placeholder="Enter last name" formControlName="lastName">
                </div>-->
        <div class="form-group">        
          <label>User Name:</label>
          <input class="form-control" type="text" placeholder="Enter user name" formControlName="userName">
        </div>
        <div class="form-group">
          <label>Password:</label>
          <input class="form-control" type="password" placeholder="Enter password" formControlName="password">
        </div>
        <div class="form-group">
          <label>User Type:</label>
          <select class="form-control font-bold" formControlName="type">
                        <option class="padding-bottom-4px" value="">Select</option>
                        <option class="padding-bottom-4px" value="p">Material Producer</option>
                        <option class="padding-bottom-4px" value="m">Product Manufacturer</option>
                        <option class="padding-bottom-4px" value="r">Product Retailer</option>
            </select>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!rForm.valid">Register & Generate QR</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <div *ngIf="generateQR" class="qr-code-div">
        <app-qrcode [qrData]="data"></app-qrcode>
      </div>
    </div>
  </div>
</div>

