<div class="form-group">
   <input type="file" class="form-control" placeholder="Upload file..." name="upload"
       ng2FileSelect [uploader]="uploader"  (change)="fileChange(uploader)"/>  
       <!--<div *ngFor="let item of uploader.queue">    
       <button type="button" class="btn btn-success btn-xs"
                                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                            <span class="glyphicon glyphicon-upload"></span> Upload
                                        </button>     
       </div>    -->                 
</div>