.ship-top-jumbotron,
.ship-bottom-jumbotron {
    background-image: linear-gradient(to bottom, #fff 0, #fff 100%);
    padding-top: 0px;
    padding-bottom: 20px !important;
    .row {
        padding-top: 20px;
        background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%) !important;
        color: #fff;
    }
    form {
        .ship-btn-div {
            padding-left: 15px;
        }
        
    }
}

.ship-bottom-jumbotron {
    padding-top: 0px !important;
}
